.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

*/*.data
*/*.txt
*/*.mp4
*/*.index
*/inlist

.ipynb_checkpoints

*.zip

# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock
/.ob-jupyter/
